<h3 class="text-center"><a href="/project/{{id}}">{{projectName}}</a></h2>
<p class="text-center">Project Owner: {{owner}}</p>
<p class="text-center">Collaborators: {{collaborators}}</p>
<p class="text-center">{{createdAt}}</p>